/* rules for default, mobile */

:root {
  --primary-color: #c0f6fd;
  --secondary-color: #f0bc73;
  --text-color: #252525;
  --border-color: #a5a5a5;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 800px;
}

body {
  font-family: "Poppins", sans-serif !important;
  width: 100%;
  margin: 0;
}

header {
  background-color: var(--primary-color);
  width: 100%;
  padding: 0;
  max-width: 800px;
  text-align: center;
}

header h1 {
  margin: 0;
  padding: 5rem 0 2rem 0;
}

header img {
  padding-top: 2.5rem;
}

nav {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0 2rem;
}

ul {
  margin: 0;
}

a {
  text-decoration: none;
}

main h1 {
  text-align: center;
}

main p {
  padding: 0 2rem;
}

.artworkFilter {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0 2rem;
}

#mainContainer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 0.3rem;
  margin: 4rem 1rem;
}

#mainContainer h2 {
  padding: 1rem 0;
  margin: 0;
}

#mainContainer p {
  margin: 0;
  padding-bottom: 0.5rem;
}

#mainContainer figure {
  margin: 0;
}

#mainContainer figure img {
  width: 300px;
  padding: 1rem 0;
}

form {
  margin-left: 2rem;
  max-width: 350px;
}

legend {
  padding: 0 0.5rem;
  font-size: 0.8rem;
}

label {
  font-size: 0.8rem;
  display: block;
  padding: 1rem 1.5rem 1rem 0;
}

input {
  margin-left: 1rem;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 1rem 0.5rem;
  display: block;
  overflow: hidden;
  border: 1px solid var(--border-color);
  border-radius: 0.3rem;
  width: 100%;
  max-width: 300px;
  margin: 0;
}

fieldset {
  border: 1px solid var(--border-color);
  border-radius: 0.3rem;
  width: 100%;
  max-width: 300px;
}

fieldset div {
  padding-top: 1.25rem;
  padding-left: 1rem;
  font-size: 0.8rem;
}

input[type="checkbox"] {
  margin: 0 0.5rem 0 1rem;
}

input[type="submit"] {
  background-color: var(--primary-color);
  margin: 0 0 2rem 0;
  border: 1px solid var(--border-color);
  padding: 1rem;
  max-width: 320px;
  width: 100%;
  border-radius: 0.3rem;
}

.textBox {
  display: block;
}

.thanks h2 {
  padding: 0 2rem;
}

.thanks p {
  padding: 0 2rem;
}

footer {
  text-align: center;
  background-color: var(--primary-color);
  padding: 1.5rem;
  max-width: 800px;
}
