:root {
  --primary-color: #dab582;
  --secondary-color: #0c244e;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather Sans", sans-serif;
  --base-font-size: 16px;
}

body {
  margin: 0;
}

header {
  background-color: var(--primary-color);
  padding: 3rem 3rem;
  text-align: center;
}

form {
  margin-left: 5rem;
  max-width: 600px;
}

label {
  color: var(--secondary-color);
  font-size: 0.8rem;
}

label span {
  display: block;
  font-size: 0.8rem;
  padding: 1.5rem 0 0.25rem 0;
}

select {
  padding: 0.75rem 0;
  font-size: var(--base-font-size);
  border: 1px solid #d1d1d1;
  width: 100%;
}

fieldset {
  font-size: 0.8rem;
  margin-top: 2rem;
  border: #d1d1d1 solid 1px;
  border-radius: 4px;
}

.productReview legend {
  color: var(--secondary-color);
  padding: 0 0.5rem;
}

input[type="radio"] {
  margin: 1.5rem 0.5rem 0 2rem;
}

label.stars {
  padding: 0.5rem 0;
}

input[type="date"] {
  padding: 0.75rem 0;
  font-size: var(--base-font-size);
  border: 1px solid #d1d1d1;
  width: 100%;
}

.usefulFeatures {
  display: flex;
  flex-direction: column;
}

input[type="checkbox"] {
  margin: 1.5rem 0.5rem 0 2rem;
  padding: 0.75rem 0;
}

input[type="text"],
textarea {
  border: 1px solid #d1d1d1;
  padding: 0.75rem 0;
  width: 100%;
}

input[type="submit"] {
  background-color: var(--primary-color);
  margin: 2rem 0 0 0;
  padding: 0.75rem 3rem;
  border: #d1d1d1 1px solid;
  border-radius: 0.4px;
  display: block;
  width: 100%;
}

footer {
  background-color: var(--primary-color);
  padding: 2rem;
  margin-top: 2rem;
  text-align: center;
}
