@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #72bdef;
  --secondary-color: #f0bc73;
  --text-color: #252525;
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  font-family: "Poppins", sans-serif !important;
}

header {
  background-color: var(--primary-color);
}

div {
  width: 100px;
  height: auto;
}

#colorSample1 {
  background-color: var(--primary-color);
}

#colorSample2 {
  background-color: var(--secondary-color);
}
